// Colors
// -------------------------------------
$danger-color: #f01414;

$text-color: #363636;
$text-color-light: #fff;

$button-hover: #5C606A;

$background-color: #e1e6eb;
$background-color-light: #fff;

$border-color: #c8cdd2;
$border-color-light: #EDEDED;
$border-color-dark: #8A8D90;
