// Fonts
// -------------------------------------
$font-regular: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-size-tiny: 10px;
$font-size-small: 12px;
$font-size-normal: 13px;
$font-size-big: 14px;
$font-size-bigger: 15px;

$font-size-title: 17px;
$font-size-header: 22px;

$font-size-icon: 25px;
$font-size-icon-big: 30px;
